.skillsBlock {
    background: #f8f8f8 none repeat scroll 0 0;
    min-height: 100vh;
}

.skillsContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.skills {
    display: flex;
    /* justify-content: space-between;*/
    justify-content: space-evenly;

    border: 1px solid;
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
}