.skillsBlock {
    background-color: coral;
    min-height: 100vh;
}
.skillsContainer{
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.title{
    background-color: darkmagenta;
}
.skills{
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
}