.worksBlock {
    background: #fff none repeat scroll 0 0;
}

.worksContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: left;
    line-height: 22px;
}


.works {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}