
.footerBlock {
    background-color: aqua;
    height: 50vh;
}

/*взяла из Container.module.css  изменила высоту на 50%*/
.footerContainer {

    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
box-sizing: border-box;
}

.title {
    background-color: darkmagenta;
}

.smth {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    width: 50%;
}

.rights{
    background-color: coral;
}