.footerBlock {
    background-color: #252525;
}

.footerContainer {
    padding: 60px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*чтобы имя фамилия по центру блока были*/
}

.rights {
    margin: 0 0 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #ddd;
}