.footerBlock {
    background-color: #252525;
    /* height: 50vh;*/
}

.footerContainer {
    padding: 60px 0;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    /*чтобы имя фамилия по центру блока были*/
    text-align: center;
}

.rights {
    border: 1px solid #ddd;
    margin: 0 0 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #ddd;
}