.work {
    margin-bottom: 40px;
    width: 33.33%;
    padding: 0 20px;
    min-width: 320px;
}

.imageContainer {
    border: 1px solid black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-height: 350px;
    background-position: center;
}

.imageContainer:hover .overlay {
    opacity: 1;
}

.imageContainer:hover .title {
    margin-top: 0;
}

.button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background-color: white;
    color: black;
}

.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100%;
    width: 100%;
    min-height: 400px;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.title {
    margin-top: -100px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 900;
    font-size: 40px;
    line-height: 1.1;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

.description {
    color: white;
    margin: 0 0 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 22px;
}

@media screen and (max-width: 1400px) {
    .imageContainer {
        min-height: 300px;
    }
}

@media screen and (max-width: 1204px) {
    .work {
        width: 50%;
    }
}

@media screen and (max-width: 804px) {
    .work {
        width: 100%;
    }
}

