.contactsBlock {
    background: #f8f8f8 none repeat scroll 0 0;
}

.contactsContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.contactForm {
    display: flex;
    justify-content: center;
    width: 800px;
}

/*ширина инпута равна то что указано ниже (min-width: 1129px), если размер экрана больше 1129x*/
@media screen and (max-width: 768px) {
    .contactForm {
        width: 100%;
    }
}
